@import 'tailwindcss';
@import 'tw-animate-css';

:root {
    --radius: 0.625rem;
    --background: oklch(20.35% 0.0139 285.1);
    --foreground: oklch(76.63% 0.0492 276.03);
    --muted: oklch(28.59% 0.0232 278.46);
    --muted-foreground: oklch(56.59% 0.0402 279.86);
    --popover: oklch(22.57% 0.0194 280.25);
    --popover-foreground: oklch(58.67% 0.0414 280.06);
    --card: oklch(22.57% 0.0194 280.25);
    --card-foreground: oklch(76.63% 0.0492 276.03);
    --border: oklch(39.63% 0.0356 278.3);
    --input: oklch(24.76% 0.0249 277.62);
    --primary: oklch(86.69% 0 0);
    --primary-foreground: oklch(32.11% 0 0);
    --secondary: oklch(71.76% 0.1131 269.85);
    --secondary-foreground: oklch(22.57% 0.0194 280.25);
    --accent: oklch(19.69% 0.0157 280.37);
    --accent-foreground: oklch(86.69% 0 0);
    --destructive: oklch(57.79% 0.1438 24.18);
    --destructive-foreground: oklch(98.42% 0.0034 247.86) --ring: oklch(71.76% 0.1131 269.85);
    --chart-1: oklch(86.69% 0 0);
    --chart-2: oklch(71.76% 0.1131 269.85);
    --chart-3: oklch(19.69% 0.0157 280.37);
    --chart-4: oklch(74.86% 0.0996 270.24);
    --chart-5: oklch(86.49% 0.0029 17.21);
    --sidebar: oklch(0.205 0 0);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --animate-grid: grid 15s linear infinite;
    @keyframes grid {
        0% {
            transform: translateY(-50%);
        }
        100% {
            transform: translateY(0);
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
